<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Console target -->
    <target name="console" xsi:type="Console" />

    <!-- File target -->
    <target name="file" xsi:type="File" fileName="/home/patrick-badran/patrickbadran/Projects/dotNetEx/FinTech/api/logs/myapp.txt" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" 
            rollingFileExists="Replace" />
  </targets>

  <rules>
    <!-- Log everything from the root logger to the console -->
    <logger name="*" minlevel="Debug" writeTo="console" />

    <!-- Log errors from the root logger to the file -->
    <logger name="*" minlevel="Error" writeTo="file" />
  </rules>
</nlog>
