<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Console target -->
    <target name="console" xsi:type="Console" />

    <!-- Log File target -->
    <target name="logFile" xsi:type="File"
      fileName="/home/patrick-badran/patrickbadran/Projects/dotNetEx/FinTech/api/logs/Logs.log"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}"
      rollingFileExists="Replace" />

    <!-- Error File target -->
    <target name="errorFile" xsi:type="File"
      fileName="/home/patrick-badran/patrickbadran/Projects/dotNetEx/FinTech/api/logs/ErrorLogs.log"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}"
      rollingFileExists="Replace" />
  </targets>

  <rules>
    <!-- Log everything from the root logger to the console -->
    <logger name="*" minlevel="Debug" writeTo="console" />

    <!-- Log Info from the root logger to the log file -->
    <logger name="api.Helpers.LogAspect" minlevel="Info" writeTo="logFile" />

    <!-- Log errors from the root logger to the error file -->
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>